.graphic_generic_header_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_generic_title_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStrokeSkipFillSkipOpacity_1 {
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_2_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_3_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_8_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: #000000;
    text-decoration: underline;
}
a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget10 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget17 .Comment_Posted_Date {
    color: #000000;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget4 a {
    color: #000000;
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget8 a {
    color: #000000;
    text-decoration: underline;
}
#widget0 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget10 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget7 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget9 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget13 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget3 a {
    color: #000000;
    text-decoration: underline;
}
#widget18 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#id1 div.caption span.metric {
    color: #000000;
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    opacity: 1.00;
    text-decoration: none;
    text-shadow: 2px 2px 1px #000000;
    text-transform: none;
}
#widget15 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget5 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget11 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget7 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget9 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget18 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget6 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget6 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget15 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget18 a {
    color: #000000;
    text-decoration: underline;
}
#widget6 a {
    color: #000000;
    text-decoration: underline;
}
#widget0 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget7 a {
    color: #000000;
    text-decoration: underline;
}
#widget16 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget18 .Comment_Posted_Date {
    color: #000000;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget11 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget5 a {
    color: #000000;
    text-decoration: underline;
}
#widget14 a {
    color: #000000;
    text-decoration: underline;
}
#widget14 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget3 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget15 a {
    color: #000000;
    text-decoration: underline;
}
#widget4 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget14 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget8 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget12 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget16 a {
    color: #000000;
    text-decoration: underline;
}
#widget17 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#id1 div.caption {
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
    white-space: nowrap;
}
#widget8 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#id1 canvas {
    z-index: -1;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget4 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget12 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget16 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#id1 div.caption span.title {
    color: #fe0004;
    font-family: 'Arial-Black', 'Arial Black', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing:     0.02em;
    line-height: 32px;
    opacity: 1.00;
    text-decoration: none;
    text-shadow: 2px 2px 1px #000000;
    text-transform: none;
}
#widget0 a {
    color: #000000;
    text-decoration: underline;
}
#widget5 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget11 a {
    color: #000000;
    text-decoration: underline;
}
#widget17 a {
    color: #000000;
    text-decoration: underline;
}
#widget3 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
#widget12 a {
    color: #000000;
    text-decoration: underline;
}
#widget10 a {
    color: #000000;
    text-decoration: underline;
}
#widget13 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
#widget9 a {
    color: #000000;
    text-decoration: underline;
}
#widget13 a {
    color: #000000;
    text-decoration: underline;
}
#widget17 a:visited {
    color: #3f3f3f;
    text-decoration: underline;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
